/* CSS Reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0%;
    z-index: 2;
}

#navbar::before{
    content: "";
    position:absolute;
    background-color: rgb(32, 21, 21);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar #nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* List Styling */

#navbar .items ul{
    display: flex;
    font-family: 'Bree Serif', serif;
    list-style: none;
}

/* #navbar .items{
    margin-left: 10px;
} */

#navbar .items ul li a{
    color: white;
    display: block;
    font-size: 2rem;
    border-radius: 30px;
    padding: 10px 15px ;
    text-decoration: none;
} 

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#navbar .logo img{
    padding: 10px 10px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border-radius: 60px;
    height: 100px;
    width: 100px;
}

#navbar ul .active a{
    text-decoration: underline;
    color: burlywood;
}

#navbar #sign-btn{
    background-color: rgb(245, 189, 245);
}
#navbar #sign-btn:hover{
    color: black;
    background-color: white;
}

#navbar #login-btn{
    background-color: rgb(178, 228, 248);
}

#navbar #login-btn:hover{
    color: black;
    background-color: white;
}

/* Homepage */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4px 50px;
    height: 90vh;
}

#home::before{
    content: " ";
    background: url("/Img/p17.jpg") no-repeat center center/cover;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}
#home h1{
    /* background-color: rgba(90, 187, 187, 0.233); */
    color: white;
    text-align: center;
    border-radius: 40px;
    font-family: 'Bree Serif', serif;
}
#home p{
    /* background-color: rgba(90, 187, 187, 0.233); */
    color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#home a:hover{
    color: black;
    background: white;
}

#home a{
    padding: 4px 25px;
    color: white;
    border: 2px solid white;
    margin: 10px;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    /* background-color: rgb(130, 190, 192); */
    background: linear-gradient(50deg, rgb(95, 197, 95), rgb(80, 80, 177));
    text-decoration: none;
}

/* Instruct and tips */
.instruct{
    display: flex;
    flex-direction: column;
    /* background: #4f6d7a; */
    /* background-color: rgba(178, 228, 248, 0.473); */
    top: 0;
    color: white;
    background-color: black;
}

.instruct h1{
    padding-top: 30px;
}

#tips{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:355px ;
    width: 255px;
    border-radius: 15px;
    background: linear-gradient(50deg, #2a5a3b,#1e4886);
    overflow: hidden;
    margin: 30px 45px;
}
.container::before{
    content: "";
    position: absolute;
    top: 125px;
    height: 35px;
    width: 500px;
    /* right: 35px; */
    transition: 1.9s;
    background: linear-gradient(50deg,#00ff59,#02b3ff);
    transform: rotate(50deg) translate(0, -100px);
    animation: effect 1.9s 0.2s infinite alternate;
}
.card h1{
    text-decoration: underline;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 347px;
    width: 247px;
    background: #171614;
    border-radius: 10px;
    z-index: 1;
    color: #858585;
    overflow: hidden;
    padding: 1em;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    color: #fff;
}

.container:hover{
    animation: box-rotate 1.9s 0s alternate ease-in-out;
}
.card:hover{
    color: rgb(226, 126, 126);
    
}
@keyframes effect{
    0%{
        transform: rotate(-360deg) translate(0, 100px);
    }
}
@keyframes box-rotate{
    100%{
        transform: rotate(-360deg) ;
    }
}

/* Rules and instructions */

#rules-container{
    color: brown;
    background-color: rgba(245, 189, 245, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rules-container li{
    font-size: 1.2rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
#rules-container #p-img img{
    height: 380px;
    width: 500px;
}    
#rules-container #p-img {
    margin: 30px 10px;
    padding: 20px;
}    
/* Contact Section */
#contact{   
    position: relative; 
    /* color: white; */
}

#contact::before{ 
    content: "";
    position:absolute;
    background: url("/img/p10.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
} 

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#contact-box input,
#contact-box textarea{
    font-family: 'Baloo Bhaijaan 2', cursive;
    width: 100%;
    border-radius: 10px;
    font-size: 0.8rem;
    padding:0.4rem
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}

#contact-box #imp-btn{
    justify-content: center;
    align-items: center;
    display: flex;
}
#contact-box #imp-btn input{
    font-family: 'Bree Serif', serif;
    width: 33%;
    border: 2px solid white;
    margin: 10px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 10px 5px;
    cursor: pointer;
    color: white;
}
#contact-box #imp-btn input:hover{
    color: black;
    background-color: white;
}

#contact-box #imp-btn  .btn-1{
    background-color: rgb(245, 189, 245);
   
}
#contact-box #imp-btn  .btn-2{
    background-color: rgb(178, 228, 248);
}

/* Footer section */
footer{
    background-color: black;
    color: white;
}
#creators{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    list-style: none;
}
footer span{
    font-family: 'Bree Serif', serif;
    padding: 10px 10px;
}
footer a{
    display: block;
    color: white;
    text-decoration: none;
} 

footer .imp-link{
    display: flex;
    font-family: 'Bree Serif', serif;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 50%;
}
footer .link-1{
    background-color: rgb(245, 189, 245);
    margin: 18px 10px;
    padding: 10px 6px;
}

footer .link-2{
    background-color: rgb(178, 228, 248);
    margin: 14px 10px;
    padding: 2px 8px;
}
footer a:hover{
    background-color: white;
    color: black;
}

/* Utility Classes */
.btn{
    padding: 4px 15px;
    color: white;
    border: 2px solid white;
    margin: 10px;
    background-color: rgb(245, 189, 245);
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}
.primary-h{
    font-family: 'Bree Serif', serif;
    font-size: 2.6rem;
    padding: 10px;
}
.secondary-h{
    font-size: 2rem;
    padding: 14px;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}
.para{
    font-size: 1.2rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/* @font-face{
    font-family: neon;
    src: url("/Fonts/AUTOMANI.TTF");
}
.neon-wrapper {
    box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.4vw #e50b0b,
    inset 0 0 1.5vw  0.4vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.2vw #fff7f7;
    border-radius: 1.5rem;
}
.neon-text {
    font-family: neon;
    font-size: rem;
    color: #ffd8d8;
    padding: 0 3.5rem 0 3.5rem;
    text-shadow: 
    .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
    .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
    .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
    .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 
    .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
    .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
    .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
} */